In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
from datetime import date
from datetime import datetime
import unidecode

%matplotlib inline

In [33]:
all_players = pd.read_csv('../data/UP_male_players.csv')
all_players.head(2)

C:\Users\jamor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (98) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,K. Mbappé,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,E. Haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3

In [34]:
fc_24 = all_players[all_players['fifa_version'] == 24]
fc_24.head(2)

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,K. Mbappé,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,E. Haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3

In [35]:
fc_24

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,K. Mbappé,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,E. Haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3
2,192985,24,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,103000000.0,350000.0,32,...,80+3,80+3,80+3,79+3,75+3,70+3,70+3,70+3,75+3,21+3
3,158023,24,L. Messi,Lionel Andrés Messi Cuccittini,"CF, CAM",90,90,41000000.0,23000.0,36,...,63+3,63+3,63+3,64+3,59+3,49+3,49+3,49+3,59+3,19+3
4,165153,24,K. Benzema,Karim Benzema,"CF, ST",90,90,51000000.0,95000.0,35,...,64+3,64+3,64+3,64+3,60+3,55+3,55+3,55+3,60+3,18+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18345,273759,24,S. Telem,Saphaba Singh Telem,CB,47,57,100000.0,500.0,20,...,39+2,39+2,39+2,41+2,43+2,47+2,47+2,47+2,43+2,13+2
18346,269013,24,Jin Liangkuan,金良宽,CB,47,55,100000.0,1000.0,21,...,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2,13+2
18347,272748,24,M. Mewlan,买乌郎·米吉提,ST,47,55,100000.0,2000.0,19,...,31+2,31+2,31+2,35+2,33+2,27+2,27+2,27+2,33+2,13+2
18348,269534,24,Yin Jie,尹杰,CM,47,54,90000.0,1000.0,21,...,45+2,45+2,45+2,45+2,45+2,44+2,44+2,44+2,45+2,14+2
18349,269541,24,Wu Yuhang,吴宇航,CDM,47,53,70000.0,1000.0,22,...,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,14+2

In [36]:
fc_24['short_name'] = fc_24['short_name'].str.lower()
fc_24

C:\Users\jamor\AppData\Local\Temp/ipykernel_21508/1107108470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fc_24['short_name'] = fc_24['short_name'].str.lower()

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,k. mbappé,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,e. haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3
2,192985,24,k. de bruyne,Kevin De Bruyne,"CM, CAM",91,91,103000000.0,350000.0,32,...,80+3,80+3,80+3,79+3,75+3,70+3,70+3,70+3,75+3,21+3
3,158023,24,l. messi,Lionel Andrés Messi Cuccittini,"CF, CAM",90,90,41000000.0,23000.0,36,...,63+3,63+3,63+3,64+3,59+3,49+3,49+3,49+3,59+3,19+3
4,165153,24,k. benzema,Karim Benzema,"CF, ST",90,90,51000000.0,95000.0,35,...,64+3,64+3,64+3,64+3,60+3,55+3,55+3,55+3,60+3,18+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18345,273759,24,s. telem,Saphaba Singh Telem,CB,47,57,100000.0,500.0,20,...,39+2,39+2,39+2,41+2,43+2,47+2,47+2,47+2,43+2,13+2
18346,269013,24,jin liangkuan,金良宽,CB,47,55,100000.0,1000.0,21,...,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2,13+2
18347,272748,24,m. mewlan,买乌郎·米吉提,ST,47,55,100000.0,2000.0,19,...,31+2,31+2,31+2,35+2,33+2,27+2,27+2,27+2,33+2,13+2
18348,269534,24,yin jie,尹杰,CM,47,54,90000.0,1000.0,21,...,45+2,45+2,45+2,45+2,45+2,44+2,44+2,44+2,45+2,14+2
18349,269541,24,wu yuhang,吴宇航,CDM,47,53,70000.0,1000.0,22,...,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,14+2

In [37]:
fc_24['short_name'] = fc_24['short_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
fc_24

C:\Users\jamor\AppData\Local\Temp/ipykernel_21508/3190552845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fc_24['short_name'] = fc_24['short_name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,231747,24,k. mbappe,Kylian Mbappé Lottin,"ST, LW",91,94,181500000.0,230000.0,24,...,63+3,63+3,63+3,68+3,63+3,54+3,54+3,54+3,63+3,18+3
1,239085,24,e. haaland,Erling Braut Haaland,ST,91,94,185000000.0,340000.0,22,...,63+3,63+3,63+3,62+3,60+3,62+3,62+3,62+3,60+3,19+3
2,192985,24,k. de bruyne,Kevin De Bruyne,"CM, CAM",91,91,103000000.0,350000.0,32,...,80+3,80+3,80+3,79+3,75+3,70+3,70+3,70+3,75+3,21+3
3,158023,24,l. messi,Lionel Andrés Messi Cuccittini,"CF, CAM",90,90,41000000.0,23000.0,36,...,63+3,63+3,63+3,64+3,59+3,49+3,49+3,49+3,59+3,19+3
4,165153,24,k. benzema,Karim Benzema,"CF, ST",90,90,51000000.0,95000.0,35,...,64+3,64+3,64+3,64+3,60+3,55+3,55+3,55+3,60+3,18+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18345,273759,24,s. telem,Saphaba Singh Telem,CB,47,57,100000.0,500.0,20,...,39+2,39+2,39+2,41+2,43+2,47+2,47+2,47+2,43+2,13+2
18346,269013,24,jin liangkuan,金良宽,CB,47,55,100000.0,1000.0,21,...,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2,13+2
18347,272748,24,m. mewlan,买乌郎·米吉提,ST,47,55,100000.0,2000.0,19,...,31+2,31+2,31+2,35+2,33+2,27+2,27+2,27+2,33+2,13+2
18348,269534,24,yin jie,尹杰,CM,47,54,90000.0,1000.0,21,...,45+2,45+2,45+2,45+2,45+2,44+2,44+2,44+2,45+2,14+2
18349,269541,24,wu yuhang,吴宇航,CDM,47,53,70000.0,1000.0,22,...,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,14+2

In [41]:
fc_24.to_csv('..\ChatGPT\gpt_food.csv')

In [9]:
current_squad = pd.read_csv('..\data\current_squad.csv')
current_squad

      short_name
0     a. kandlec
1     j. roberts
2    b. lefebvre
3        d. lang
4      p. cooper
5      c. santos
6     v. jonsson
7   s. contreras
8      v. santos
9     l. nygaard
10      d. leroy
11     g. santos
12      r. owusu
13      m. smith
14    m. coleman
15      g. busch
16      b. costa
17      j. jones
18    a. ibrahim
19      m. jones
20  s. demetriou
21      d. thiam
22    s. cameron

In [38]:
current_squad_stats = current_squad.merge(fc_24, on = 'short_name', how = 'left')

In [39]:
current_squad_stats

,short_name,player_id,fifa_version,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,a. kandlec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,j. roberts,206558.0,24.0,Jordan Stephen Roberts,CAM,64.0,64.0,575000.0,2000.0,29.0,...,58+2,58+2,58+2,60+2,59+2,56+2,56+2,56+2,59+2,19+2
2,b. lefebvre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d. lang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,p. cooper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,c. santos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,v. jonsson,238195.0,24.0,Viðar Ari Jónsson,"RW, RM, RWB",65.0,65.0,700000.0,2000.0,29.0,...,61+2,61+2,61+2,64+1,64+1,61+2,61+2,61+2,64+1,18+2
7,s. contreras,256430.0,24.0,Simón Alberto Contreras Valenzuela,"ST, RW",63.0,75.0,1200000.0,750.0,21.0,...,40+2,40+2,40+2,43+2,40+2,36+2,36+2,36+2,40+2,16+2
8,v. santos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,l. nygaard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,d. leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,g. santos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,r. owusu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,m. smith,190583.0,24.0,Michael John Smith,ST,69.0,69.0,1200000.0,11000.0,31.0,...,49+2,49+2,49+2,48+2,46+2,48+2,48+2,48+2,46+2,18+2
14,m. smith,204445.0,24.0,Michael Smith,"RB, RWB, CB",66.0,66.0,NaN,NaN,34.0,...,65+1,65+1,65+1,64+2,64+2,65+1,65+1,65+1,64+2,16+2
15,m. smith,247731.0,24.0,Matthew Gerrard Smith,"CM, CDM",64.0,70.0,925000.0,3000.0,22.0,...,63+2,63+2,63+2,61+2,61+2,59+2,59+2,59+2,61+2,18+2
16,m. smith,233050.0,24.0,Matthew Robert Smith,CM,63.0,69.0,750000.0,2000.0,23.0,...,63+2,63+2,63+2,63+2,62+2,60+2,60+2,60+2,62+2,16+2
17,m. smith,203756.0,24.0,Matt Smith,ST,63.0,63.0,230000.0,5000.0,34.0,...,47+2,47+2,47+2,41+2,40+2,48+2,48+2,48+2,40+2,18+2
18,m. smith,233950.0,24.0,Matthew Smith,"LW, ST",60.0,61.0,300000.0,550.0,26.0,...,47+2,47+2,47+2,50+2,47+2,44+2,44+2,44+2,47+2,17+2
19,m. coleman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,g. busch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,b. costa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,j. jones,227764.0,24.0,Jodi Jones,"LM, LWB",64.0,66.0,725000.0,5000.0,25.0,...,50+2,50+2,50+2,54+2,53+2,46+2,46+2,46+2,53+2,15+2
23,j. jones,182365.0,24.0,James Lewis Jones,GK,64.0,64.0,100000.0,5000.0,34.0,...,27+2,27+2,27+2,23+2,23+2,23+2,23+2,23+2,23+2,63+1
24,j. jones,212680.0,24.0,Jordan Lewis Jones,"LW, LM, RM",64.0,64.0,600000.0,4000.0,28.0,...,49+2,49+2,49+2,54+2,52+2,44+2,44+2,44+2,52+2,16+2
25,j. jones,223969.0,24.0,James Charles Jones,"CM, CDM",61.0,62.0,375000.0,4000.0,27.0,...,59+2,59+2,59+2,60+2,59+2,56+2,56+2,56+2,59+2,17+2
26,j. jones,273703.0,24.0,Jarlath Jones,LB,54.0,59.0,150000.0,500.0,21.0,...,50+2,50+2,50+2,52+2,52+2,53+2,53+2,53+2,52+2,15+2
27,a. ibrahim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,m. jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,s. demetriou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,d. thiam,256730.0,24.0,Demba Thiam,"RWB, RB, CB",63.0,63.0,250000.0,1000.0,33.0,...,57+2,57+2,57+2,61+2,61+2,61+2,61+2,61+2,61+2,16+2
31,s. cameron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
test = fc_24[fc_24['short_name'] == 's. contreras']
test

Empty DataFrame
Columns: [player_id, fifa_version, short_name, long_name, player_positions, overall, potential, value_eur, wage_eur, age, dob, height_cm, weight_kg, club_team_id, club_name, league_id, league_name, league_level, club_position, club_contract_valid_until_year, nationality_id, nationality_name, preferred_foot, weak_foot, skill_moves, international_reputation, work_rate, body_type, release_clause_eur, player_tags, player_traits, pace, shooting, passing, dribbling, defending, physic, attacking_crossing, attacking_finishing, attacking_heading_accuracy, attacking_short_passing, attacking_volleys, skill_dribbling, skill_curve, skill_fk_accuracy, skill_long_passing, skill_ball_control, movement_acceleration, movement_sprint_speed, movement_agility, movement_reactions, movement_balance, power_shot_power, power_jumping, power_stamina, power_strength, power_long_shots, mentality_aggression, mentality_interceptions, mentality_positioning, mentality_vision, mentality_penalties, mentality_composure, defending_marking_awareness, defending_standing_tackle, defending_sliding_tackle, goalkeeping_diving, goalkeeping_handling, goalkeeping_kicking, goalkeeping_positioning, goalkeeping_reflexes, goalkeeping_speed, ls, st, rs, lw, lf, cf, rf, rw, lam, cam, ram, lm, lcm, cm, rcm, rm, lwb, ldm, cdm, rdm, rwb, lb, lcb, cb, rcb, rb, gk]
Index: []

[0 rows x 99 columns]

In [17]:
fc_24['short_name'] = fc_24['short_name'].str.lower()

C:\Users\jamor\AppData\Local\Temp/ipykernel_21508/1206710272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fc_24['short_name'] = fc_24['short_name'].str.lower()

In [19]:
test = fc_24[fc_24['short_name'] == 's. contreras']
test

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
11919,256430,24,s. contreras,Simón Alberto Contreras Valenzuela,"ST, RW",63,75,1200000.0,750.0,21,...,40+2,40+2,40+2,43+2,40+2,36+2,36+2,36+2,40+2,16+2